.todoitem {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    display: flex;
    border-bottom: 1px solid #bebebe;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;

    &__title {
        display: block;
        width: 100%;
        margin: 0;
        
        &.-completed {
            text-decoration: line-through;
            opacity: 0.5;
        }
    }
}
