.App {
  text-align: center;
  width: 500px;
  margin: 100px auto;
  border: 1px solid #bebebe;
  box-shadow: 8px 8px 8px #aaaaaa;
}
.Header {
  padding: 10px 0;
  box-shadow: 1px 1px 5px #bebebe;
  border-bottom: 1px solid #bebebe;
  text-align: left;
  display: flex;
  align-items: center;

  &__tickall {
  }
  .Group {
    position: relative;
    width: 100%;
    margin: 0 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #696969;

    &__addtodo {
      background: transparent;
      width: 100%;
      height: 30px;
      border: none;
      outline: none;
      color: #333;
    }

    &:after {
      content: '';
      position: absolute;
      background: #e85d6b;
      height: 2px;
      width: 0px;
      left: 0;
      bottom: -2px;
      transition: 0.5s all;
    }

    // &:before{
    //   content: 'Press enter your to do...';
    //   position: absolute;
    //   top:50%;
    //   left: 0;
    //   color: #bebebe;
    //   visibility:visible;
    // }

    &:focus-within::after {
      height: 2px;
      width: 100%;
    }

    &:focus-within::before{
      top: -50px;
    }

    &:focus-within {
      border-bottom: 1px solid transparent;
    }
  }
}
